:root {
    --baseColor: #ffffff;
    --secondaryColor: #00ff1b;
    --baseText: #000000;
    --baseTransparent: rgba(0, 0, 0, 0.3);

    --konzert: #0DFFB8;
    --kurs: #00CFFF;
    --raum: #250CE8;
    --maschine: #FF4D00;
    --ausleih: #C200FF;

    --borderColor: #000000;
    --borderSize: 0.75px;

    --largeSpace: 10vw;
    --mediumSpace: 6vw;
    --smallSpace: 3vw;

    --headerHeight: 40px;
    
    --smallFont: calc(0.7rem + 0.5vw);;
    --standartFont: calc(0.9rem + 0.5vw);
    --mediumSmallFont: calc(1.5rem + 0.5vw);
    --mediumFont: calc(2rem + 0.5vw);
    --largeFont: calc(3rem + 0.5vw);

    --intern: "🚀";
    --extern: "👽";
    --downloads: "🐌";
    --lageplan: "🏁";
    --reservieren: "⚓️";
    --anmelden: "⚡️";
    --tickets: "🎈";
    --socialmedia: "💞";
    --emails: "💌";
}

@media screen and (min-width: 1000px){
    :root{
        --largeSpace: 5vw;
        --mediumSpace: 2vw;
        --smallSpace: 2vw;

        --smallFont: calc(0.7rem + 0.5vw);;
        --standartFont: calc(0.9rem + 0.5vw);
        --mediumSmallFont: calc(1.5rem + 0.5vw);
        --mediumFont: calc(2rem + 0.75vw);
        --largeFont: calc(3rem + 0.75vw);

        --headerHeight: 40px;
    }
}

@font-face {
    font-family: 'Helvetice Neue Bold';
    src: url('helveticaneueltcom-bd-webfont.woff2') format('woff2'),
         url('helveticaneueltcom-bd-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneueltcom-roman-webfont.woff2') format('woff2'),
         url('fonts/helveticaneueltcom-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html{
    background: var(--baseColor);
}

body{
    font-size: var(--standartFont);
    background: var(--baseColor);
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    /*padding: var(--mediumSpace) var(--smallSpace);*/
    padding: var(--mediumSpace) 0;
    margin: 0;
    line-height: 1.15em;
}

h1{
    font-size: var(--largeFont);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    line-height: 1.15em;
    margin: var(--largeSpace) 0;
    padding: 0 var(--smallSpace);
    z-index: 3;
    position: relative;
}

h2{
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    font-size: var(--standartFont);
    line-height: 1.15em;
    /*padding: var(--smallSpace);
    position: relative;
    left: calc(var(--smallSpace)*-1);*/
    width: 100%;
    /*border-top: var(--borderSize) solid var(--borderColor);*/
    margin: var(--smallSpace) 0 var(--mediumSpace) 0;
}

h2::before{
    content: "( ";
}

h2::after{
    content: " )";
}

h3{
    font-size: var(--mediumFont);
    line-height: 1.15em;
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    margin: 0;
}

p{
    margin: var(--smallSpace) 0 var(--mediumSpace) 0;
}

p:first-child{
    margin-top: 0;
}

a{
    text-decoration: none;
    color: var(--baseText);
}

b{
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif;    
}

img, video{
    width: 100%;
    height: auto;
}

small{
    font-size: var(--smallFont);
}

ul{
    list-style-type: circle;
    padding-inline-start: var(--mediumSpace);
    padding: 0 0 0 var(--mediumSpace);
    margin: var(--smallSpace) 0 var(--mediumSpace) 0;
}

main{
    padding: var(--headerHeight) 0;
    position: relative;
}

@media screen and (min-width: 1000px){
    h2{
        box-sizing: border-box;
        width: calc(100%/6);
        margin: 0;
        border-top: none;
    }
}

/*Links*/
.component p a::before, footer .intern a::before{
    content: var(--intern);
    padding-right: 5px;
}

a[target="_blank"]::before{
    content: var(--extern);
    padding-right: 5px;
}

.konzert .tickets a::before{
    content: var(--tickets);
    padding-right: 5px;
}

.kurs .tickets a::before{
    content: var(--anmelden);
    padding-right: 5px;
}

.reservieren .tickets a::before{
    content: var(--reservieren);
    padding-right: 5px;
}

.downloadWrap .link::before{
    content: var(--downloads);
    padding-right: 5px;
}

.maschine .dateInfo .tickets a::before{
    content: var(--reservieren);
    padding-right: 5px;
}

.event .dateInfo .tickets a::before{
    content: var(--tickets);
    padding-right: 5px;
}

.lageplan a::before, footer .intern span:first-of-type a::before{
    content: var(--lageplan);
    padding-right: 5px;
}

footer .socialmedia a::before{
    content: var(--socialmedia);
    padding-right: 5px;
}

.lageplan a svg{
    display: none;
}

a[href^="mailto"]::before, .component .contact p a[href^="mailto"]::before {
    content: var(--emails);
    padding-right: 5px;
}

/*Header*/
header{
    width: 100%;
    box-sizing: border-box;
    float: left;
}

header button{
    background: none;
    border: none;
    padding: 0;
    height: var(--headerHeight);
    width: auto;
}

header button svg{
    height: 100%;
    width: auto;
    transition-duration: 0.6s;
    transition-property: transform;
    transform-origin: center;
}

header button svg line{
    transform-origin: center;
}

header .logo{
    float: left;
    position: relative;
    z-index: 10;
    height: var(--headerHeight);
    margin-left: var(--smallSpace);
}

header .logo img{
    height: 100%;
    width: auto;
}

header .menu{
    position: fixed;
    right: var(--smallSpace);
    z-index: 100;
    mix-blend-mode: difference;
    background: var(--baseText);
}

header .menu .plus{
    padding-left: var(--smallSpace);
}

header .menu .plus.active svg{
    transform: rotate(45deg);
}

nav{
    position: fixed;
    width: 100%;
    left: 0;
    height: 100vh;
    height: 100dvh;
    top: -200vh;
    top: -200dvh;
    background: var(--baseColor);
    z-index: 15;
    transition: top 0.6s ease 0s;
    padding: 0 var(--smallSpace);
    box-sizing: border-box;
}

nav.active{
    top: 0;
}

nav ul li{
    list-style: none;
    position: relative;
    width: 100%;
    left: calc(var(--smallSpace)*-1);
    padding: 0 var(--smallSpace);
    line-height: 1.25em;
}

nav .mainMenu{
    margin: var(--largeSpace) 0 0 0;
    padding: 0 0 var(--largeSpace) 0;
    font-size: var(--largeFont);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    line-height: 3.75em;
}

nav .subMenu{
    line-height: 1.75em;
    margin: 0;
    padding: 0;
}

nav .subMenu li{
    border: none;
    line-height: 1.75em;
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
}

nav .subMenu li::before{
    content: "( ";
}

nav .subMenu li::after{
    content: " )";
}

.openingHours{
    position: fixed;
    width: 100%;
    left: 0;
    height: 100vh;
    height: 100dvh;
    top: -200vh;
    top: -200dvh;
    background: var(--baseColor);
    z-index: 15;
    transition: top 0.6s ease 0s;
    padding: 0 var(--smallSpace);
    box-sizing: border-box;
}

.openingHours.active{
    top: 0;
}

.openingHours .bereicheWrap{
    position: relative;
    width: calc(100% + var(--smallSpace)*2);
    margin-left: calc(var(--smallSpace)*-1);
    margin-top: var(--largeSpace);
}

.openingHours .bereich{
    border-top: var(--borderSize) solid var(--borderColor);
    padding: var(--mediumSpace) var(--smallSpace);
}

.openingHours .bereich .bereichTitel{
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
}

.openingHours .bereich .bereichTitel::before{
    content: "( ";
}

.openingHours .bereich .bereichTitel::after{
    content: " )";
}

.openingHours .bereich:first-of-type{
    border-top: none;
}

nav .logo, .openingHours .logo{
    height: var(--headerHeight);
    width: auto;
    margin-top: var(--mediumSpace);
}

nav .logo img, .openingHours .logo img{
    height: 100%;
    width: auto;
}

/*Footer*/
footer{
    position: absolute;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    margin: var(--mediumSpace) 0;
    padding-bottom: var(--mediumSpace);
}

footer .newsletter{
    padding: var(--mediumSpace) var(--smallSpace);
    background: var(--secondaryColor);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

footer .newsletter .question{
    font-size: var(--mediumSmallFont);
    line-height: 1.15em;
    margin-bottom: var(--smallSpace);
}

footer .newsletter .input{
    width: 100%;
    box-sizing: border-box;
    background-color: var(--baseColor);
    height: var(--largeSpace);
    border-radius: 100px;
    border: var(--borderSize) solid var(--baseText);
    display: flex;
    margin: 0;
    gap: 0;
}

footer .newsletter .input>*{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: var(--standartFont);
    width: calc(30% - var(--borderSize)*2);
    height: calc(var(--largeSpace) - var(--borderSize)*2);
    margin: 0;
    padding: 0;
    background: none;
    border-radius: 100px;
    float: right;
    box-shadow: 0 0 15px 0 var(--secondaryColor);
    border: var(--borderSize) solid var(--borderColor);
}

footer .newsletter .input button{
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    color: var(--baseText);
}

footer .newsletter .input input#email{
    width: 70%;
    font-weight: normal;
    border: none;
    padding: 0 var(--smallSpace);
    float: left;
    box-shadow: none;
    border-radius: 100px 0 0 100px;
}

footer .links{
    border-bottom: var(--borderSize) solid var(--borderColor);
}

footer .links, footer .kontakt, footer .zugehoerigkeit{
    padding: var(--smallSpace);
}

footer .zugehoerigkeit{
    height: calc(var(--headerHeight)/1.5);
}

footer .links span{
    display: block;
}

footer .links .socialmedia, footer .links .intern{
    margin: var(--mediumSpace) 0;
    width: 50%;
    display: block;
}

footer img{
    height: 100%;
    width: auto;
}

/*Components*/
.component{
    display: none;
    padding: var(--smallSpace) var(--smallSpace) var(--largeSpace);
    border-top: var(--borderSize) solid var(--borderColor);
}

.component.active{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/*Icons*/
.arrow {
    height: 12px;
    width: auto;
}

/*Buttons*/

/*Filters*/
ul.filters{
    margin: 0;
    padding: var(--smallSpace) var(--smallSpace);
    width: 100vw;
    position: fixed;
    background: var(--baseColor);
    border-top: var(--borderSize) solid var(--borderColor);
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    gap: var(--mediumSpace);
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 -4px 7.5px 0 var(--baseTransparent);
    scrollbar-width: none;
    min-height: calc(var(--headerHeight) + var(--smallSpace)*2);
}

ul.filters.scroll{
    position: absolute;
    bottom: calc(var(--mediumSpace)*-1);
}

ul.filters button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--baseText);
    font-size: var(--standartFont);
}

ul.filters li{
    list-style: none;
    float: left;
    color: var(--borderColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.filters li.active button{
    color: var(--baseText);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
}

ul.filters li.active::before{
    content: "(";
    color: var(--secondaryColor);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    padding-right: 4.5px;
}

ul.filters li.active::after{
    content: ")";
    color: var(--secondaryColor);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    padding-left: 4.5px;
}

ul.filters li.Maschine.active::after, ul.filters li.Maschine.active::before{
    color: var(--maschine);
}

ul.filters li.Ausleihgerät.active::after, ul.filters li.Ausleihgerät.active::before{
    color: var(--ausleih);
}

ul.filters li.Raum.active::after, ul.filters li.Raum.active::before{
    color: var(--raum);
}

ul.filters li.Tisch.active::after, ul.filters li.Tisch.active::before{
    color: var(--baseText);
}

ul.filters li.Konzert.active::after, ul.filters li.Konzert.active::before{
    color: var(--konzert);
}

ul.filters li.Kurs.active::after, ul.filters li.Kurs.active::before{
    color: var(--kurs);
}

/*News*/
.newsOuter{
    justify-content: center;
}

.newsWrap{
    display: flex;
    align-items: flex-start;
    padding: var(--largeSpace) var(--smallSpace) 0 var(--smallSpace);
    overflow-x: scroll;
    position: relative;
    min-width: 100%;
    width: 100%;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

.news{
    width: 100%;
    min-width: 100%;
    flex-direction: column;
    scroll-snap-align: start;
    display: none;
}

.news.active{
    display: flex;
    animation: fadeNews 0.8s;
}

.news .image{
    position: relative;
    width: calc(100% + var(--smallSpace)*2);
}

@keyframes fadeNews {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.news .title{
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    font-size: var(--mediumFont);
    line-height: 1.15em;
    padding: 0 var(--smallSpace);
}

.news .description{
    padding: 0 var(--smallSpace);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: var(--smallSpace) 0;
}

.newsNav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsNav .navDot{
    margin: 0 calc(var(--smallSpace)/2);
    background: var(--baseColor);
    color: transparent;
    transition: padding 0.4s ease;
    border: 1px solid var(--borderColor);
    border-radius: 100%;
    cursor: pointer;
    padding: var(--smallSpace) calc(var(--smallSpace)/6*4);
    width: 0;
    height: 0;
    
}

.newsNav .navDot.active{
    padding: calc(var(--smallSpace));
    background: var(--baseText);
}

@media screen and (min-width: 1000px){    
    /*.news.active, .news.active ~ .news:nth-of-type(2), .news.active ~ .news:nth-of-type(3){
        display: block;
        animation: fadeNews 0.8s;
    }*/

    .newsOuter h2{
        width: 100%;
    }

    .newsOuter .newsNav button:nth-of-type(2), .newsOuter .newsNav button:nth-of-type(3){
        display: none;
    }

    .newsOuter .newsWrap{
        padding: var(--largeSpace) 0 0 0;
        width: calc(100% + var(--smallSpace)*2);
        min-width: calc(100% + var(--smallSpace)*2);
    }

    .newsOuter .news {
        width: calc(100%/6*2);
        min-width: calc(100%/6*2);
    }

    .newsOuter .news.active, .newsOuter .news.active ~ .news:nth-of-type(2), .newsOuter .news.active ~ .news:nth-of-type(3){
        display: flex;
        animation: fadeNews 0.8s;
    }

    .newsOuter .news .image {
        width: 100%;
    }
}

/*Einleitung*/
.einleitung{
    font-size: var(--mediumSmallFont);
    line-height: 1.15em;
    padding: 0 var(--smallSpace) var(--mediumSpace) var(--smallSpace) ;
}

/*Infos*/
.infoWrap{
    display: flex;
    gap: var(--mediumSpace);
}

.infoWrap .description{
    width: calc(100%/3);
    padding: var(--smallSpace) 0;
}

.infoWrap .content{
    width: calc(100%/3*2);
    border-bottom: var(--borderSize) solid var(--borderColor);
    padding: var(--smallSpace) 0;
}

.infoWrap .content .lageplan{
    width: 100%;
    display: block;
    padding-top: var(--smallSpace);
}


@media screen and (min-width: 1000px){
    .spezifikationen{
        width: calc(100%/6*5);
    }

    .spezifikationen .infoWrap:first-of-type .description, .spezifikationen .infoWrap:first-of-type .content{
        padding-top: 0;
    }
}

/*Textblock*/
@media screen and (min-width: 1000px){
    .contentWrap{
        width: calc(100%/6*5);
    }
}

/*Formular*/
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--mediumSpace);
    margin: var(--largeSpace) 0;
}

form input, form textarea{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: var(--standartFont);
    padding: var(--smallSpace) 0;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: var(--borderSize) solid var(--borderColor);
}

form textarea{
    height: calc(var(--largeSpace)*2);
}

form input[type=submit] {
    padding: 5px 10px;
    border-radius: 100px;
    background: var(--secondaryColor);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    color: var(--baseText);
    width: auto;
    box-shadow: 0 0 15px 0 var(--baseTransparent);
    border: var(--borderSize) solid var(--borderColor);
    width: calc(30% - var(--borderSize)*2);
    height: calc(var(--largeSpace) - var(--borderSize)*2);
}

/*Team*/
.teamOuter{
    display: flex;
    flex-wrap: wrap;
}

.teamOuter .teamWrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: calc(50vw - var(--smallSpace) - 4px);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
    text-align: left;
}

.teamOuter .teamWrap>* {
    width: 50%;
    padding: 0 var(--smallSpace);
    box-sizing: border-box;
}

.teamOuter .teamWrap:nth-of-type(2n){
    text-align: right;
}

.teamOuter .teamWrap:last-of-type{
    margin-bottom: var(--largeSpace);
}

.teamOuter .teamWrap .portrait{
    order: 1;
    padding: 0;
}

.teamOuter .teamWrap .name{
    order: 3;
    font-size: var(--mediumSmallFont);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    line-height: 1.15em;
}

.teamOuter .teamWrap .funktion{
    order: 2;
    font-size: var(--smallFont);
}

.teamOuter .teamWrap .phone{
    order: 4;
}

.teamOuter .teamWrap .email{
    order: 5;
    text-transform: uppercase;
}

.teamOuter .teamWrap .email svg{
    display: none;
}

.teamOuter .teamWrap:nth-of-type(2n) .portrait{
    order: 5;
}

.teamOuter .teamWrap:nth-of-type(2n) .name{
    order: 2;
}

.teamOuter .teamWrap:nth-of-type(2n) .funktion{
    order: 1;
}

.teamOuter .teamWrap:nth-of-type(2n) .phone{
    order: 3;
}

.teamOuter .teamWrap:nth-of-type(2n) .email{
    order: 4;
}

@media screen and (min-width: 1000px){    
    #team{
        flex-direction: row;
    }
    
    #team .teamWrap{
        width: 33.3333333%;
        height: calc(16.666666667vw - var(--smallSpace) - 4px);
    }

    #team .teamWrap:nth-of-type(2n){
        text-align: left;
    }

    #team .teamWrap:nth-of-type(6n), #team .teamWrap:nth-of-type(6n-1), #team .teamWrap:nth-of-type(6n-2){
        text-align: right;
    }

    #team .teamWrap:nth-of-type(2n) .portrait{
        order: 1;
    }
    
    #team .teamWrap:nth-of-type(2n) .name{
        order: 3;
    }
    
    #team .teamWrap:nth-of-type(2n) .funktion{
        order: 2;
    }
    
    #team .teamWrap:nth-of-type(2n) .phone{
        order: 4;
    }
    
    #team .teamWrap:nth-of-type(2n) .email{
        order: 5;
    }

    #team .teamWrap:nth-of-type(6n) .portrait, #team .teamWrap:nth-of-type(6n-1) .portrait, #team .teamWrap:nth-of-type(6n-2) .portrait{
        order: 5;
    }
    
    #team .teamWrap:nth-of-type(6n) .name,  #team .teamWrap:nth-of-type(6n-1) .name,  #team .teamWrap:nth-of-type(6n-2) .name{
        order: 2;
    }
    
    #team .teamWrap:nth-of-type(6n) .funktion, #team .teamWrap:nth-of-type(6n-1) .funktion, #team .teamWrap:nth-of-type(6n-2) .funktion{
        order: 1;
    }
    
    #team .teamWrap:nth-of-type(6n) .phone, #team .teamWrap:nth-of-type(6n-1) .phone, #team .teamWrap:nth-of-type(6n-2) .phone{
        order: 3;
    }
    
    #team .teamWrap:nth-of-type(6n) .email, #team .teamWrap:nth-of-type(6n-1) .email, #team .teamWrap:nth-of-type(6n-2) .email{
        order: 4;
    }
}

/*Preisliste*/
.preisOuter{
    display: flex;
    flex-wrap: wrap;
    gap: var(--smallSpace);
}

.preisWrap{
    width: 100%;
    display: flex;
    gap: var(--smallSpace);
    justify-content: space-between;
    flex-wrap: wrap;
}

.preisWrap.header{
    border-bottom: var(--borderSize) solid var(--borderColor);
    border-top: var(--borderSize) solid var(--borderColor);
    font-size: var(--mediumSmallFont);
    line-height: 1.15em;
    gap: 0;
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}

.preisWrap.header div:first-of-type{
    width: 0;
}

.preisWrap.header div{
    width: 100%;
    padding: var(--smallSpace) 0;
}

@media screen and (min-width: 1000px){
    .preisOuter{
        width: calc(100%/6*5);
    }

    .preisWrap.header:first-of-type{
        border-top: none;
    }

    .preisWrap.header:first-of-type .content{
        padding-top: 0;
    }
}

/*Downloads*/
.downloadOuter{
    display: flex;
    flex-wrap: wrap;
    font-size: var(--mediumSmallFont);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    line-height: 1.15em;
}

.downloadWrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--borderSize) solid var(--borderColor);
    padding: var(--smallSpace) 0;
}

.downloadWrap > div{
    max-width: 50%;
}

.downloadWrap .link{
    font-size: var(--standartFont);
    font-weight: normal;
}

@media screen and (min-width: 1000px){
    .downloadOuter{
        width: calc(100%/6*5);
        margin: 0 0 var(--largeSpace) 0;
        box-sizing: border-box;
    }

    .downloadWrap:first-of-type{
        padding-top: 0;
    }
}

/*Image Gallery*/
.imageGallery{
    position: relative;
    width: 100%;
    margin: var(--largeSpace) 0;
}

.gallery{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--smallSpace);
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    padding: var(--mediumSpace) 0;
}

.galleryWrap{
    display: flex;
    margin: 0;
    padding: 0;
}

.galleryWrap li{
    width: 100%;
    list-style: none;
    flex: none;
    scroll-snap-align: start;
    display: none;
}

.galleryWrap li.active{
    display: block;
    animation: fadeImg 0.8s;
}

@keyframes fadeImg {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

@media screen and (min-width: 1000px){
    .galleryWrap li{
        width: calc(100%/6*4);
        margin: 0 auto;
    }

    .gallery{
        padding: var(--mediumSpace) var(--smallSpace);
    }
}

/*Overwiev Programm und Reservieren*/
.programm .component, .reservieren .component{
    border-top: none;
}

.menuprogram{
    display: flex;
    width: 100%;
    min-width: 100%;
    height: var(--headerHeight);
    padding: var(--mediumSpace) var(--smallSpace);
    align-items: center;
    gap: var(--smallSpace);
    position: sticky;
    top: 0;
    background-color: var(--baseColor);
    z-index: 1;
    margin-left: calc(var(--smallSpace)*-1);
}

.menuprogram button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.menuprogram img{
    width: var(--headerHeight);
    height: auto;
}

button.weitere{
    padding: 5px 10px;
    border-radius: 100px;
    background: var(--secondaryColor);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    width: auto;
    font-size: var(--standartFont);
    margin: var(--mediumSpace) auto;
    display: block;
    box-shadow: 0 0 15px 0 var(--baseTransparent);
    border: var(--borderSize) solid var(--borderColor);
    min-width: calc(30% - var(--borderSize)*2);
    height: calc(var(--largeSpace) - var(--borderSize)*2);
}

.happenings .datepicker{
    font-size: var(--mediumFont);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    line-height: 1.15em;
    border-bottom: var(--borderSize) solid var(--borderColor);
    border-top: var(--borderSize) solid var(--borderColor);
    width: 100%;
    display: flex;
    position: sticky;
    top: calc(var(--headerHeight) + var(--mediumSpace)*2);
    background-color: var(--baseColor);
    z-index: 1;
    padding: var(--smallSpace);
    margin-left: calc(var(--smallSpace)*-1);
}

.happenings .datepicker .day, .happenings .datepicker .month{
    width: calc(100%/6);
}

.happenings .datepicker .year{
    width: calc(100%/6*4);
}

.happenings{
    position: relative;
}

.days .eventWrap{
    height:0;
    padding: 0;
    opacity: 0;
    word-break: break-word;
    overflow: hidden;
}

.days .eventWrap .event, .days .eventWrap .hours, .days .eventWrap .tag, .days .eventWrap .location, .days .eventWrap .location .tickets, .days .eventWrap .image{
    height: 0;
}

.days .eventWrap.active{
    display: flex;
    align-items: center;
    height: auto;
    opacity: 1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    font-size: var(--smallFont);
    flex-wrap: wrap;
    padding: var(--mediumSpace) 0 var(--largeSpace) 0;
    width: 100%;
    gap: var(--smallSpace);
    border-bottom: var(--borderSize) solid var(--borderColor);
}

.days .eventWrap.active:last-child{
    border-bottom: none;
}

.days:last-child .eventWrap.active:last-child{
    border-bottom: var(--borderSize) solid var(--borderColor);
}

.days .eventWrap.active .event{
    font-size: var(--mediumFont);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    line-height: 1.15em;
    width: 100%;
    height: auto;
    order: 4;
}

.days .eventWrap.active .hours{
    width: calc(100%/6 - var(--smallSpace));
    height: auto;
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    order: 1;
}

.days .eventWrap.active .tag{
    max-width: calc(100%/6*3 - var(--smallSpace));
    height: auto;
    order: 3;
    margin-left: auto;
}

.days .eventWrap.active .location{
    width: calc(100%/6*2);
    height: auto;
    order: 2;
}

.reservieren .days .eventWrap.active .location{
    width: calc(100%/6*3);
}

.days .eventWrap.active .tickets{
    width: 100%;
    font-size: var(--standartFont);
    order: 6;
    margin-top: -5px;
    text-transform: uppercase;
}

.days .eventWrap.active .tickets a svg{
    display: none;
}

.tag .wrapTag::before{
    content: "( ";
    padding-right: 2.5px;
    color: var(--secondaryColor);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
}

.tag .wrapTag::after{
    content: " )";
    padding-left: 2.5px;
    color: var(--secondaryColor);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
}

.tag .wrapTag span::after{
    content: "/";
}

.tag .wrapTag span:last-child::after, .tag .wrapTag .main::after{
    content: none;
}

.tag .wrapTag .main{
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    padding-right: 5px;
}

/*List View*/
.list .days .eventWrap.active{
    justify-content: flex-end;
}

.list .days .eventWrap.active .image{
    display: none;
    height: auto;
}

/*Kachel View*/
.kachel .days .eventWrap.active{
    row-gap: var(--smallSpace);
    column-gap: var(--smallSpace);
    border-bottom: none;
}

.kachel .days .eventWrap.active:nth-child(3n+1){
    width: 100%;
}

.kachel .days .eventWrap.active:nth-child(3n+2){
    width: calc(100%/6*5);
    padding-left: calc(100%/6);
}

.kachel .days .eventWrap.active:nth-child(3n+3){
    width: calc(100%/6*5);
    padding-right: calc(100%/6);
}

.kachel .days .eventWrap.active .image{
    order: 4;
}

.kachel .days .eventWrap.active .image, .kachel .days .eventWrap.active .image img{
    width: 100%;
    height: auto;
    display: block;
}

/*Programm*/
.programm h1{
    margin-bottom: var(--smallSpace);
}

.sup, .sub{
    width: 10px;
    position: absolute;
    padding-left: 5px;
}

.sup{
    top: -8px;
}

.sup svg, .sub svg{
    width: 100%;
    height: auto;
}

.konzert .tag .wrapTag::after, .konzert .tag .wrapTag::before{
    color: var(--konzert);
}

.kurs .tag .wrapTag::after, .kurs .tag .wrapTag::before{
    color: var(--kurs);
}

/*Reservieren*/
.reservieren h1{
    margin-bottom: var(--smallSpace);
}

.days .eventWrap:has(+ .tisch.active) {
    border-bottom: none;
}

.eventWrap.tisch.active{
    margin-left: calc(var(--smallSpace)*-1);
    padding: var(--mediumSpace) var(--smallSpace) var(--largeSpace) var(--smallSpace);
    background: var(--secondaryColor);
    border-bottom: none;
}

.maschine .tag .wrapTag::after, .maschine .tag .wrapTag::before{
    color: var(--maschine);
}

.ausleih .tag .wrapTag::after, .ausleih .tag .wrapTag::before{
    color: var(--ausleih);
}

.raum .tag .wrapTag::after, .raum .tag .wrapTag::before{
    color: var(--raum);
}

.tisch .tag .wrapTag::after, .tisch .tag .wrapTag::before{
    color: var(--baseText);
}

/*Maschine Detail*/
.dateInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--baseColor);
    position: sticky;
    top: 0;
    z-index: 3;
    padding: var(--mediumSpace) var(--smallSpace) var(--smallSpace) var(--smallSpace);
    width: calc(100% - var(--smallSpace)*2);
    margin: calc(var(--largeSpace)*-1) 0 var(--largeSpace);
    min-height: var(--headerHeight);
}

.dateInfo .date{
    width: calc(100%/6*2);
}

.dateInfo .time{
    width: calc(100%/6*4);
}

.dateInfo .tickets{
    font-size: var(--standartFont);
    text-transform: uppercase;
    width: 100%;
}

.dateInfo .tickets a svg{
    display: none;
}

/*Keyvisual*/
.start{
    height: 100vh;
    height: 100dvh;
    width: 100%;
    position: relative;
    top: calc(var(--mediumSpace)*-1 + var(--headerHeight)*-1);
    border-top: none;
    padding: 0;
}

.quicklinks{
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    z-index: 10;
    justify-content: space-between;
    background: var(--baseText);
    mix-blend-mode: difference;
    margin: 0 0 var(--mediumSpace);
    padding: 0 var(--smallSpace);
    box-sizing: border-box;
}

.quicklinks li{
    list-style: none;
}

.quicklinks li::before{
    content: "( ";
    color: var(--secondaryColor);
}

.quicklinks li::after{
    content: " )";
    color: var(--secondaryColor);
}

.quicklinks li a{
    color: var(--baseColor);
}

#keyvisual{
    position: absolute;
    top: 0;
}

/*History*/
.etappe{
    padding: var(--mediumSpace) 0;
    border-bottom: var(--borderSize) solid var(--borderColor);
    width: 100%;
}

.etappe:first-of-type{
    padding-top: var(--smallSpace);
}

.etappe h3{
    margin: -1rem 0 var(--mediumSpace) 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 0;
    display: block;
    padding-right: 45px;
    box-sizing: border-box;
}

.etappe h3:first-of-type::after{
    content: "";
    background-image: url(img/arrow_down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom 5px;
    float: right;
    width: 40px;
    height: 40px;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
}

.etappe h3 small{
    font-weight: normal;
    width: 100%;
}

.etappe h3 small::after{
    content: "\a";
    white-space: pre;
}

.etappe > p{
    display: none;
}

.etappe.active > p{
    display: block;
}

@media screen and (min-width: 1000px){
    .etappe{
        width: calc(100%/6*5);
        margin-left: calc(100%/6);
    }

    .etappe:first-of-type{
        margin-left: 0;
        padding-top: 0;
    }
}

/*Awareness*/
.awareness h3{
    border-top: var(--borderSize) solid var(--borderColor);
    padding-top: var(--mediumSpace);
    margin-top: var(--largeSpace);
}

.awareness .einleitung{
    padding: 0 0 var(--mediumSpace) 0;
}

@media screen and (min-width: 1000px){
    .awareness{
        align-items: flex-start;
    }

    .awareness .einleitung{
        width: calc(100%/6*5);
        box-sizing: border-box;
    }

    .awareness .content{
        width: calc(100%/6*5);
        margin: 0 0 var(--largeSpace) calc(100%/6);
    }
}

/*Kontakt*/
.kontaktDynamo .bereich{
    padding: var(--mediumSpace) 0;
    border-top: var(--borderSize) solid var(--borderColor);
    width: 100%;
}

.kontaktDynamo .bereich:first-of-type{
    border-top: none;
}

.kontaktDynamo .bereichTitel{
    font-size: var(--mediumFont);
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    line-height: 1.15em;
}

@media screen and (min-width: 1000px){
    .kontaktDynamo .bereich{
        width: calc(100%/6*5);
        margin-left: calc(100%/6);
    }

    .kontaktDynamo .bereich:first-of-type{
        border-top: none;
        margin-left: 0;
        padding-top: 0;
    }
}

/*Jobs*/
.etappe .aufgaben, .etappe .kompetenzen, .etappe .bieten, .etappe .description{
    display: none;
}

.etappe.active .aufgaben, .etappe.active .kompetenzen, .etappe.active .bieten, .etappe.active .description{
    display: block;
}

.etappe .aufgaben h3, .etappe .kompetenzen h3, .etappe .bieten h3{
    width: 100%;
    margin-top: var(--largeSpace);
}

.etappe .aufgaben h3::after, .etappe .kompetenzen h3::after, .etappe .bieten h3::after{
    content: none;
    width: 0;
    right: 0;
    bottom: 0
}

/*Restaurant Menü*/
.menu.component{
    position: relative;
}

.menu.component .date{
    position: absolute;
    left: var(--smallSpace);
}

.menu.component h2{
    margin-top: 1.5rem;
}

.menuWrap{
    padding: var(--mediumSpace) 0 var(--largeSpace) 0;
    border-bottom: var(--borderSize) solid var(--borderColor);
    display: flex;
    flex-wrap: wrap;
}

.menuTitle{
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    font-size: var(--mediumFont);
    line-height: 1.15em;
    margin-bottom: var(--smallSpace);
    width: 100%;
}

.food{
    width: calc(100%/6*5);
}

.food .dazu{
    margin-top: var(--smallSpace);
}

.menuWrap .price{
    width: calc(100%/6);
    text-align: right;
}

.allergy{
    width: 100%;
    margin-top: var(--smallSpace);
    font-size: var(--smallFont);
}

.allergy::before{
    content: "(";
}

.allergy::after{
    content: ")";
}

.allergyTitle{
    font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    margin-top: var(--smallSpace);
}

.extraInfo{
    padding: var(--smallSpace) 0 var(--largeSpace);
}

.printInfo{
    display: none;
}

.priceInfo{
    font-size: var(--smallFont);
    margin-top: var(--smallSpace);
}

@media screen and (min-width: 1000px){
    .menuWrap, .extraInfo{
        width: calc(100%/6*5);
        margin-left: calc(100%/6);
    }    

    .menu.component div:nth-of-type(2){
        margin-left: 0;
        padding-top: 0;
    }
}

/*Werkbereich*/
.component.bereiche{
    justify-content: center;
}

/*Lageplan*/
#areal{
    margin-left: calc(var(--smallSpace)*-1);
}

#areal #lageplan{
    display: none;
}

/*Menü Print*/
@media print {
    header, nav, .openingHours, .textblock, .imageGallery, .einleitung, h1, .filters, footer{
        display: none !important;
    }

    .menu.component{
        width: 50%;
        height: 100%;
        background-image: url("/img/resti_menu.png");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 75%;
        background-origin: padding-box;
        padding: 0;
        margin: 0;
        margin-top: -50px;
        border-top: none;
        font-size: 16px;
    }

    .menuWrap {
        padding: 15px 0 30px 0;
        border-bottom: var(--borderSize) solid var(--borderColor);
        display: flex;
        flex-wrap: wrap;
    }

    .food .dazu, .allergy{
        margin-top: 10px;
    }

    .printInfo{
        margin-top: 10px;
        display: block;
    }

    .menuTitle{
        font-size: 26px;
        margin-bottom: 15px;
    }

    .menu.component h2{
        text-align: center;
        padding-top: 150px;
        font-size: 20px;
    }

    .menu.component .date {
        position: relative;
        margin: calc(var(--mediumSpace)*-1) auto 0 auto;
        right: auto;
    }

    .menu.component .date{
        font-size: 20px;
    }

    .menu.component .food, .menu.component .price{
        font-size: 16px;
    }

    .priceInfo{
        font-size: 10px;
        text-align: center;
        position: absolute;
        bottom: 0;
    }

}